@mixin pseudoelement {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  // White
  --background: hsl(0, 0%, 100%);
  // Very Pale Blue
  --top-bg-pattern: hsl(225, 100%, 98%);
  // Light Grayish Blue
  --card-bg: hsl(227, 47%, 96%);
  // Dark Grayish Blue
  --text-sec: hsl(228, 12%, 44%);
  // Very Dark Blue
  --text-pri: hsl(230, 17%, 14%);
  // Switch
  --switch-bg: hsl(230, 22%, 74%);
}

.dark-theme {
  // Very Dark Blue
  --background: hsl(230, 17%, 14%);
  // Very Dark Blue
  --top-bg-pattern: hsl(232, 19%, 15%);
  // Dark Desaturated Blue
  --card-bg: hsl(228, 28%, 20%);
  // Desaturated Blue
  --text-sec: hsl(228, 34%, 66%);
  // White
  --text-pri: hsl(0, 0%, 100%);
  // Switch
  --switch-bg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-pri);
  a {
    color: var(--facebook);
  }
}

body {
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  h1 {
    color: var(--text-pri);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 3px;
  }
  h3 {
    color: var(--text-sec);
    font-weight: 700;
    font-size: 14px;
  }
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 244px;
  background-color: var(--top-bg-pattern);
  border-radius: 0 0 18px 18px;
  z-index: -1;
}

.theme-switcher {
  display: flex;
  align-items: center;
  span {
    font-weight: 700;
    color: var(--text-sec);
    font-size: 14px;
    margin-right: 1em;
  }
}
#switch {
  appearance: none;
  outline: none;
  width: 48px;
  height: 24px;
  border-radius: 100px;
  position: relative;
  background: var(--switch-bg);
}
#switch::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--background);
  position: absolute;
  right: 3px;
  top: 3px;
  transition: 0.3s;
}
#switch:checked::after {
  transform: translateX(-23px);
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card {
  height: 216px;
  padding-top: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card--facebook {
  background: var(--facebook);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 2%, var(--card-bg) 2%);
}
.card--twitter {
  background: var(--twitter);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 2%, var(--card-bg) 2%);
}
.card--instagram {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 2%, var(--card-bg) 2%), var(--instagram);
}
.card--youtube {
  background: var(--youtube);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 2%, var(--card-bg) 2%);
}
.reseau {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-sec);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.nombre {
  color: var(--text-pri);
  font-weight: 700;
  font-size: 55px;
}
.abonnes {
  color: var(--text-sec);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 24px;
}
.reseau--facebook::before {
  @include pseudoelement;
  background: url(./images/icon-facebook.svg) no-repeat;
  margin-right: 8px;
}
.reseau--twitter::before {
  @include pseudoelement;
  background: url(./images/icon-twitter.svg) no-repeat;
  margin-right: 8px;
}
.reseau--instagram::before {
  @include pseudoelement;
  background: url(./images/icon-instagram.svg) no-repeat;
  margin-right: 8px;
}
.reseau--youtube::before {
  @include pseudoelement;
  margin-right: 8px;
}

.tendance {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: -3px;
}
.hausse {
  color: var(--lime-green);
  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 4px;
    background: url(./images/icon-up.svg);
    margin-right: 6px;
  }
}
.baisse {
  color: var(--bright-red);
  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 4px;
    background: url(./images/icon-down.svg);
    margin-right: 6px;
  }
}

h2 {
  color: var(--text-sec);
  font-size: 24px;
  margin-top: 46px;
  margin-bottom: 24px;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 30px;
}
.smcard {
  height: 125px;
  padding: 24px 32px 28px 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-bg);
}
.titres,
.chiffres {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
h4 {
  font-size: 14px;
  font-weight: 700;
  color: var(--text-pri);
}
.smcard--facebook .logo {
  @include pseudoelement;
  background: url(./images/icon-facebook.svg) no-repeat;
}
.smcard--twitter .logo {
  @include pseudoelement;
  background: url(./images/icon-twitter.svg) no-repeat;
}
.smcard--instagram .logo {
  @include pseudoelement;
  background: url(./images/icon-instagram.svg) no-repeat;
}
.smcard--youtube .logo {
  @include pseudoelement;
  background: url(./images/icon-youtube.svg) no-repeat;
}
.chiffres .nombre {
  font-size: 32px;
  line-height: 0.7;
}

@media (max-width: 1170px) {
  body {
    max-width: 600px;
  }
  main,
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 30px;
  }
}

@media (max-width: 670px) {
  body {
    max-width: 327px;
  }
  header {
    display: block;
        margin-bottom: 40px;
    h1 {
      font-size: 24px;
    }
  }
  .headings {
    margin-bottom: 25px;
  }
  .theme-switcher {
    border-top: 1px solid var(--text-sec);
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }


  main,
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  section {
    gap: 16px;
    h2 {
      margin-bottom: 26px;
    }
  }
}
